*.iml
.gradle
*.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/misc.xml
.DS_Store
/build
/captures
.externalNativeBuild
projects/android-studio-3/
projects/android-studio-3/.gradle
projects/android-studio-3/*.iml
projects/android-studio-3/.idea/libraries
projects/android-studio-3/.idea/misc.xml
projects/android-studio-3/.idea/workspace.xml
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-03-11-914.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-03-04-823.rawproto
projects/android-studio-3/app/build/intermediates/res/androidTest/debug/output.json
projects/android-studio-3/app/build/intermediates/manifests/instant-run/debug/output.json
projects/android-studio-3/app/build/intermediates/manifests/full/debug/output.json
projects/android-studio-3/app/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
projects/android-studio-3/app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
projects/android-studio-3/app/build/intermediates/incremental/compileDebugAndroidTestAidl/dependency.store
projects/android-studio-3/app/build/intermediates/incremental/compileDebugAidl/dependency.store
projects/android-studio-3/app/build/intermediates/blame/res/debug/single/debug.json
projects/android-studio-3/app/build/intermediates/blame/res/debug/multi-v2/values.json
projects/android-studio-3/app/build/intermediates/blame/res/debug/multi-v2/debug.json
projects/android-studio-3/app/build/generated/source/r/debug/edu/esne/basicsworkbench/R.java
projects/android-studio-3/app/build/generated/source/r/androidTest/debug/edu/esne/basicsworkbench/test/R.java
projects/android-studio-3/app/build/generated/source/buildConfig/debug/edu/esne/basicsworkbench/BuildConfig.java
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-36-03-033.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-34-37-306.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-34-37-306.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-34-29-812.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-34-29-812.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-32-16-551.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-32-16-551.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-32-12-569.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-32-12-569.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-03-11-914.rawproto
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-xxhdpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-xhdpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-v24_ic_launcher_foreground.xml.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-mdpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-ldpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-hdpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-anydpi-v21_ic_launcher_background.xml.flat
projects/android-studio-3/app/build/intermediates/res/debug/resources-debug.ap_
projects/android-studio-3/app/build/intermediates/res/debug/output.json
projects/android-studio-3/app/build/intermediates/res/androidTest/debug/resources-debugAndroidTest.ap_
projects/android-studio-3/local.properties
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-36-09-722.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-36-09-722.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-36-03-033.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-32-48-161.json
projects/android-studio-3/app/src/main/assets/test.png
projects/android-studio-3/app/src/main/assets/.empty
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher_round.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-mdpi_ic_launcher.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher_round.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-hdpi_ic_launcher.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-anydpi-v26_ic_launcher_round.xml.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-anydpi-v26_ic_launcher.xml.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/drawable-xxxhdpi_ic_launcher_background.png.flat
projects/android-studio-3/app/build/generated/source/buildConfig/androidTest/debug/edu/esne/basicsworkbench/test/BuildConfig.java
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-xxxhdpi/ic_launcher_background.png
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-xxhdpi/ic_launcher_background.png
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher_round.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xhdpi_ic_launcher.png.flat
projects/android-studio-3/app/build/intermediates/manifests/full/debug/AndroidManifest.xml
projects/android-studio-3/app/build/intermediates/manifests/density/debug/output.json
projects/android-studio-3/app/build/intermediates/manifest/androidTest/debug/output.json
projects/android-studio-3/app/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
projects/android-studio-3/app/build/intermediates/incremental/mergeDebugResources/merger.xml
projects/android-studio-3/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
projects/android-studio-3/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-xhdpi/ic_launcher_background.png
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-mdpi/ic_launcher_background.png
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-ldpi/ic_launcher_background.png
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-hdpi/ic_launcher_background.png
projects/android-studio-3/app/build/generated/res/pngs/debug/drawable-anydpi-v21/ic_launcher_background.xml
projects/android-studio-3/app/build/generated/mockable-android-26.v3.jar
projects/android-studio-3/build/android-profile/profile-2018-01-25-14-03-04-823.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-28-723.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-28-723.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-24-999.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-24-999.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-04-612.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-33-04-612.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-10-32-48-161.rawproto
projects/android-studio-3/app/build/outputs/logs/manifest-merger-debug-report.txt
projects/android-studio-3/app/build/intermediates/splits-support/debug/split-list.gson
projects/android-studio-3/app/build/intermediates/splits-support/androidTest/debug/split-list.gson
projects/android-studio-3/app/build/intermediates/res/merged/debug/values_values.arsc.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher_round.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xxxhdpi_ic_launcher.png.flat
projects/android-studio-3/app/build/intermediates/res/merged/debug/mipmap-xxhdpi_ic_launcher_round.png.flat
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-49-32-040.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-49-32-040.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-17-03-13-116.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-17-03-13-116.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-56-56-866.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-50-08-538.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-50-02-955.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-50-02-955.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-46-46-730.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-46-46-730.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-57-00-769.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-50-08-538.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-49-39-371.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-49-39-371.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-17-03-17-519.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-17-03-17-519.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-56-56-866.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-47-00-930.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-24-18-47-00-930.json
projects/android-studio-3/build/android-profile/profile-2018-01-24-16-57-00-769.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-21-32-45-019.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-21-32-45-019.json
projects/android-studio-3/build/android-profile/profile-2018-01-25-21-32-32-207.rawproto
projects/android-studio-3/build/android-profile/profile-2018-01-25-21-32-32-207.json
